@charset "UTF-8";

.main-svg-sprite {
  display: none;
} 

.svg-icon {
  width: 24px;
  height: 24px;
  fill: #000;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

.b-2top {
  position: fixed;
  z-index: 900;
  bottom: 60px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.45);
  background-color: rgba(255, 255, 255, 0.7);
  right: 10%;
  margin-right: 0;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  -o-transition: opacity 0.3s linear, -o-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear, -webkit-transform 0.3s linear, -o-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear, -webkit-transform 0.3s linear;
}

.b-2top .svg-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.b-2top--is-show {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  pointer-events: all;
}

.scroll-table_enabled
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

.scroll-table_enabled::-webkit-scrollbar-thumb
  background: #000;

.scroll-table_enabled::-webkit-scrollbar
  background: #fff;
  height: 5px;


.scroll-table_enabled table {
  min-width: 640px;
}

.fluid-width-video-wrapper,
.adaptive-video {
  width: 100%;
  position: relative;
  padding: 0;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed,
.adaptive-video iframe,
.adaptive-video object,
.adaptive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.remodal-title {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-bottom: 10px;
}

.remodal .shop2-block.search-form .block-title {
  display: none;
}

.remodal .shop2-block.search-form .block-body {
  display: block !important;
  border: none !important;
  padding: 0 !important;
  margin-top: 0 !important;
}

[data-remodal-id="extendedSearch"] {
  max-width: 320px !important;
  padding: 20px !important;
}

[data-remodal-id="extendedSearch"] .row-title {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

[data-remodal-id="extendedSearch"] .row-title + label {
  display: inline-block;
}

[data-remodal-id="extendedSearch"] .row-title + label + label {
  display: inline-block;
}

/* FORMS */

a.shop2-btn:not(.amount-minus):not(.amount-plus):not(.coupon-btn),
button.shop2-btn:not(.amount-minus):not(.amount-plus),
input[type="button"].shop2-btn:not(.amount-minus):not(.amount-plus):not(.coupon-btn),
input[type="submit"].shop2-btn:not(.amount-minus):not(.amount-plus):not(.coupon-btn) {
  font-size: 18px;
}

#orderForm input[type="text"],
#orderForm input[type="email"],
#orderForm input[type="number"],
#orderForm input[type="search"],
#orderForm input[type="tel"],
#orderForm input[type="password"],
#orderForm textarea,
#orderForm select,
[data-remodal-id=extendedSearch] input[type="text"],
[data-remodal-id=extendedSearch] input[type="email"],
[data-remodal-id=extendedSearch] input[type="number"],
[data-remodal-id=extendedSearch] input[type="search"],
[data-remodal-id=extendedSearch] input[type="tel"],
[data-remodal-id=extendedSearch] input[type="password"],
[data-remodal-id=extendedSearch] textarea,
[data-remodal-id=extendedSearch] select,
.shop2-order-form input[type="text"],
.shop2-order-form input[type="email"],
.shop2-order-form input[type="number"],
.shop2-order-form input[type="search"],
.shop2-order-form input[type="tel"],
.shop2-order-form input[type="password"],
.shop2-order-form textarea,
.shop2-order-form select,
.shop2-order-options input[type="text"],
.shop2-order-options input[type="email"],
.shop2-order-options input[type="number"],
.shop2-order-options input[type="search"],
.shop2-order-options input[type="tel"],
.shop2-order-options input[type="password"],
.shop2-order-options textarea,
.shop2-order-options select,
.tpl-form input[type="text"],
.tpl-form input[type="email"],
.tpl-form input[type="number"],
.tpl-form input[type="search"],
.tpl-form input[type="tel"],
.tpl-form input[type="password"],
.tpl-form textarea,
.tpl-form select,
.excl-form input[type="text"],
.excl-form input[type="email"],
.excl-form input[type="number"],
.excl-form input[type="search"],
.excl-form input[type="tel"],
.excl-form input[type="password"],
.excl-form textarea,
.excl-form select {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 36px;
  padding: 0 15px;
  margin-top: 3px;
}

#orderForm textarea,
[data-remodal-id=extendedSearch] textarea,
.shop2-order-form textarea,
.shop2-order-options textarea,
.tpl-form textarea,
.excl-form textarea {
  padding: 15px;
  height: 100px;
  resize: none;
}

#orderForm select,
[data-remodal-id=extendedSearch] select,
.shop2-order-form select,
.shop2-order-options select,
.tpl-form select,
.excl-form select {
  padding-right: 18px;
  padding-left: 5px;
}

.shop2-product-options select {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 36px;
  padding: 0 15px;
  margin-top: 3px;
}

.shop2-product-options select {
  padding-right: 18px;
  padding-left: 5px;
}

.shop2-order-options input[type="text"],
.shop2-order-options input[type="email"],
.shop2-order-options input[type="number"],
.shop2-order-options input[type="search"],
.shop2-order-options input[type="tel"],
.shop2-order-options input[type="password"],
.shop2-order-options textarea {
  background-color: #fff !important;
}

table.shop2-table-order tr:first-child th {
  background: #fff;
  color: #636363;
}

.cart-product-name-link {
  display: none !important;
}

.shop2-coupon--fake-adaptive {
  display: none;
}

.cart-delete a {
  font-size: 0;
  display: inline-block;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background: none !important;
}

.cart-delete a img {
  visibility: visible !important;
}

.cart-float-header {
  width: 100%;
  margin-top: -52px;
  background: #f1f1f1;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  pointer-events: none;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  -o-transition: opacity 0.3s linear, -o-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear, -webkit-transform 0.3s linear, -o-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear, -webkit-transform 0.3s linear;
}

.cart-float-header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 10px 20px;
}

.cart-float-header__title {
  font-size: 14px;
  font-weight: 700;
}

.cart-float-header__clean-link {
  display: inline-block;
  vertical-align: top;
}

.cart-float-header.is-need-update {
  margin-top: 0;
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.product-list.product-list-thumbs .product-price-buy {
  padding-top: 9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.product-list.product-list-thumbs .product-price-buy .product-price {
  width: auto;
  padding-right: 10px;
}

.product-list.product-list-thumbs .product-price-buy .product-price .price-current {
  font-size: 16px;
  white-space: nowrap;
}

.product-list.product-list-thumbs .product-price-buy .shop2-product-btn {
  margin-top: 0;
}

.product-list.product-list-thumbs .product-bot {
  border: none;
}

.product-list.product-list-thumbs .product-amount {
  border: 1px solid #ffe7c6;
  border-style: solid none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.product-list.product-list-thumbs .product-amount .amount-title {
  width: auto;
}

.form-captcha {
  position: relative;
  text-align: left;
}

.form-captcha .mgCaptcha-block {
  margin-right: 0;
}

.form-captcha__label {
  font-size: 13px;
  line-height: 14px;
  color: #333;
  max-width: 94px;
  margin-right: 15px;
  margin-bottom: 0;
}

.form-captcha__target {
  position: relative;
}

.form-captcha__message {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 120%;
  right: 0;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  padding: 9px 15px;
  border-radius: 2px;
  background-color: #dddede;
  color: #333;
  font-size: 14px;
  line-height: 16px;
}

.form-captcha__message:before {
  content: '';
  position: absolute;
  top: -4px;
  right: 44px;
  width: 8px;
  height: 8px;
  background-color: inherit;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-captcha a:after {
  content: '';
  display: block;
  font-size: 0;
  bottom: 12px;
  left: 100px;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 0;
  margin: 0 8px;
  background: url("files/cached.svg") no-repeat center center;
  -webkit-background-size: 28px 28px;
  background-size: 28px 28px;
}

.form-captcha a img {
  border: 1px solid #ccc;
}

.form-captcha a img + img {
  display: none;
}

.form-captcha a img.captcha {
  border: 1px solid #ccc;
}

.form-captcha a img.captcha + input[name="_cn"] {
  margin-left: 16px;
}

.form-captcha [name="_cn"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
  height: 52px;
  text-align: center;
  background-color: #f3f7f6;
  border: 1px solid #dbe4e3;
  padding: 0 12px;
  color: #21333b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-captcha--error .form-captcha__message {
  background-color: #f44336;
  color: #fff;
}

.form-captcha--error [name="_cn"] {
  border-color: #f44336;
}

.form-captcha--error a:after {
  background: url("files/cached-error.svg") no-repeat center center;
}

.b-aside-menu-btn {
  display: block;
  z-index: 5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  background: #f2f4f7;
  border: none;
  text-decoration: none;
  padding: 10px 14px 10px 8px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border none
}

.b-aside-menu-btn .svg-icon {
  display: inline-block;
  vertical-align: top;
  width: 28px;
  height: 28px;
  fill: #000;
}

.b-aside-menu-btn .svg-icon--menu {
  width: 42px;
  height: 30px;
}

.b-aside-menu {
  position: fixed;
  z-index: 950;
  top: 0;
  width: 100%;
  height: 100%;
  right: 110%;
  background: #f2f4f7;
}

.b-aside-menu.js-opening {
  right: 0;
}

.b-aside-menu.js-animate .b-aside-menu__overlay {
  opacity: 1;
}

.b-aside-menu.js-animate .b-aside-menu__content {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.b-aside-menu__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 150;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 0 0 0 16px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.b-aside-menu__close .svg-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.b-aside-menu__overlay {
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.b-aside-menu__content {
  position: absolute;
  z-index: 25;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 340px;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear, -o-transform 0.15s linear;
}

.b-aside-menu__head {
  position: relative;
  z-index: 50;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 45px 10px 25px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 6px 12px -9px rgba(51, 51, 51, 0.7);
  box-shadow: 0 6px 12px -9px rgba(51, 51, 51, 0.7);
}

.b-aside-menu__foot {
  position: relative;
}

.b-aside-menu__logo {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: top;
}

.b-aside-menu__logo-holder {
  font-size: 0;
  padding-right: 0;
}

.b-aside-menu__logo-link {
  display: block;
}

.b-aside-menu__navs {
  height: 100%;
  background: #f2f4f7;
}

.b-aside-menu__scroller {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 35px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.b-aside-menu__scroller-content {
  position: relative;
  z-index: 75;
}

.b-aside-menu__scroller::-webkit-scrollbar {
  width: 4px;
}

.b-aside-menu__scroller::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

.b-aside-menu__scroller::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #000;
}

.sub-menu-trigger {
  position: absolute;
  z-index: 35;
  width: 46px;
  height: 46px;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  transition: -webkit-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear, -o-transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.sub-menu-trigger .svg-icon {
  fill: #000;
  width: 26px;
  height: 26px;
}

.aside-nav-list

  &.aside-nav-list_app-leftbar

    & .catalog-menu
      display block
      width 100%
      padding 0 5px
      box-sizing border-box

    & .red-buttons
      margin-top 10px

      & .red-buttons__item
          flex: 0 0 80%;
          margin-right 0


.aside-nav-list {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  list-style-type: none;
  background-color: #f2f4f7;
  > li > ul .sub-menu-trigger .svg-icon {
        fill: #333 !important;
    }
  > li > ul li.opened.is-has-child > a,
    > li > ul li.opening.is-has-child > a {
        background-color: #ebebeb;
    }
}

.aside-nav-list li {
  position: relative;
  overflow: hidden;
  padding-left: 0;
  margin-top: 0;
}

.aside-nav-list li:before {
  display: none;
}

.aside-nav-list li a {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 35;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  background: #f2f4f7;
  display: block;
  padding: 10px 0 10px 20px;
  text-decoration: none;
}

.aside-nav-list li > ul {
  position: relative;
  z-index: 25;
  margin: 0;
  padding: 10px 0 10px 20px;
  list-style-type: none;
  display: none;
}

.aside-nav-list li .is-has-child > a {
  padding-right: 50px;
}

.aside-nav-list li.opened.is-has-child > .sub-menu-trigger,
.aside-nav-list li.opening.is-has-child > .sub-menu-trigger {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.aside-nav-list li.opened.is-has-child > .sub-menu-trigger .svg-icon,
.aside-nav-list li.opening.is-has-child > .sub-menu-trigger .svg-icon {
  fill: #12a1b7;
}

.aside-nav-list li.opened.is-has-child > a,
.aside-nav-list li.opening.is-has-child > a {
  border-top 4px solid #12a1b7
  
}

.aside-nav-list li.opened.is-has-child > ul,
.aside-nav-list li.opening.is-has-child > ul {
  display: block;
  -webkit-box-shadow: inset 0 -20px 18px -28px rgba(51, 51, 51, 0.7);
  box-shadow: inset 0 -20px 18px -28px rgba(51, 51, 51, 0.7);
}

.aside-nav-list > li > a {
  display: block;
  padding: 16px 46px 15px 15px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  color: #969191;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.aside-nav-list > li > a.b-brand-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
  background-color: #21343b !important;
  color: #fff;
  padding: 12px;
}

.aside-nav-list > li > a.b-brand-btn .b-brand-btn__what {
  font-size: 14px;
  line-height: 14px;
  margin-top: 2px;
}

.aside-nav-list > li > ul li.active > a,
.aside-nav-list > li > ul li.opened > a {
  color: #f39400;
}

.aside-nav-list > li > ul li a {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  color: #727b80;
  background-color: #fff;
  display: block;
  padding: 16px 30px 17px;
}

.aside-nav-list > li > ul ul li.active > a,
.aside-nav-list > li > ul ul li.opened > a {
  color: #da7a69;
}

.aside-nav-list > li > ul ul a {
  font-size: 13px;
  line-height: 13px;
  padding: 10px 20px;
}

/*!
 * Мобильная шапка
 */

.mobile-header {
  display: none;
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0;
  background-color: #f2f4f7;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.mobile-header--not-top {
  -webkit-box-shadow: 0 0px 16px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 16px -2px rgba(0, 0, 0, 0.5);
}

.mobile-header__toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 0 5px 0 $appGutter;
}

.toolbar-right-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.toolbar-button {
  display: inline-block;
  vertical-align: top;
  padding: 18px;
  font-size: 0;
  cursor: pointer;
}

.toolbar-button--with-text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 32px;
}

.toolbar-button:active,
.toolbar-button.is-opened {
  background-color: rgb(239,244,247);
}

.toolbar-button:active .toolbar-button-dropdown,
.toolbar-button.is-opened .toolbar-button-dropdown {
  display: block;
}

.toolbar-button-icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  fill: #000;
}

.toolbar-button-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px;
  background-color: rgb(239,244,247);
  -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  cursor: auto;
}
.toolbar-button:active .toolbar-button-icon,.toolbar-button.is-opened .toolbar-button-icon
  fill #000

.mobile-search-form__ext-search .toolbar-button-icon
  fill #000!important

.me-cart-trigger {
  padding: 0;
  width: 66px;
  height: 66px;
  background: url("d/690518/t/v450/theme400211/box3.png") 50% 50% no-repeat;
}

.me-cart-trigger .toolbar-button-icon {
  width: 36px;
  height: 36px;
}

.me-cart-trigger .toolbar-button-dropdown,
.me-phones-trigger .toolbar-button-dropdown {
  max-width: 260px;
  right: 0;
  left: auto;
}

.me-cart-trigger .toolbar-button-dropdown .shop2-block.cart-preview .block-body,
.me-phones-trigger .toolbar-button-dropdown .shop2-block.cart-preview .block-body {
  padding: 5px 0 0 5px;
  background: none;
  margin-bottom: -2px;
}

.me-cart-trigger__counter,
.me-phones-trigger__counter {
  display: inline-block;
  vertical-align: top;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #8fa5d4;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 12px;
}

.me-cart-trigger__counter--not-null,
.me-phones-trigger__counter--not-null {
  display: inline-block;
}

.me-cart-trigger .shop2-block.cart-preview,
.me-phones-trigger .shop2-block.cart-preview {
  background: none;
  margin-bottom: 0;
}

.me-cart-trigger .block-title,
.me-phones-trigger .block-title {
  display: none;
}

.me-feedback-trigger .toolbar-button-dropdown {
  max-width: 360px;
  left: auto;
  right: 0;
}

.me-user-trigger .toolbar-button-dropdown {
  left: auto;
  right: 0;
  max-width: 240px;
  padding-bottom: 5px;
}

.mobile-user-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile-user-menu li {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.mobile-user-menu li:last-child {
  margin-bottom: 10px;
}

.mobile-user-menu li a {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.mobile-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-size: 0;
}

.mobile-search-form__input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 3px 0 0 3px;
  margin: 0 !important;
  padding: 0 15px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color #000
}

.mobile-search-form__ext-search,
.mobile-search-form__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  display: inline-block;
  vertical-align: top;
  height: 42px;
  padding: 0 20px;
  background-color: #fff;
  margin-left: 2px;
  font-weight: 700;
  border-radius: 0 3px 3px 0;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-search-form__ext-search {
  border-radius: 0;
  padding: 5px;
  font-size: 0;
}

.mobile-search-form__ext-search .toolbar-button-icon {
  width: 32px;
  height: 32px;
}

.mobile-search-form__submit {
  font-size: 12px;
  color: #000;
}

.table2grid__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 0 0 -10px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.table2grid__item {
  padding: 0 0 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.table2grid--1 .table2grid__item {
  max-width: 100% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 100% !important;
  -ms-flex: 0 0 100% !important;
  flex: 0 0 100% !important;
}

.table2grid--2 .table2grid__item {
  max-width: 50% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 50% !important;
  -ms-flex: 0 0 50% !important;
  flex: 0 0 50% !important;
}

.table2grid--3 .table2grid__item {
  max-width: 33.33333% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 33.33333% !important;
  -ms-flex: 0 0 33.33333% !important;
  flex: 0 0 33.33333% !important;
}

.table2grid--4 .table2grid__item {
  max-width: 25% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 25% !important;
  -ms-flex: 0 0 25% !important;
  flex: 0 0 25% !important;
}

.table2grid--5 .table2grid__item {
  max-width: 20% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 20% !important;
  -ms-flex: 0 0 20% !important;
  flex: 0 0 20% !important;
}

.table2grid--6 .table2grid__item {
  max-width: 16.66667% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 16.66667% !important;
  -ms-flex: 0 0 16.66667% !important;
  flex: 0 0 16.66667% !important;
}

.table2grid--7 .table2grid__item {
  max-width: 14.28571% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 14.28571% !important;
  -ms-flex: 0 0 14.28571% !important;
  flex: 0 0 14.28571% !important;
}

.table2grid--8 .table2grid__item {
  max-width: 12.5% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 12.5% !important;
  -ms-flex: 0 0 12.5% !important;
  flex: 0 0 12.5% !important;
}

.table2grid--9 .table2grid__item {
  max-width: 11.11111% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 11.11111% !important;
  -ms-flex: 0 0 11.11111% !important;
  flex: 0 0 11.11111% !important;
}

.table2grid--10 .table2grid__item {
  max-width: 10% !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 10% !important;
  -ms-flex: 0 0 10% !important;
  flex: 0 0 10% !important;
}

.table2grid--crashed {
  display: none;
}

.table2grid--horizontal .table2grid__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.table2grid--horizontal .table2grid-block {
  padding: 5px;
}

html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.remodal,
[data-remodal-id] {
  display: none;
}

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: "";
}

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  display: inline-block;
}

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: .3s;
  -o-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  -o-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  -o-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

.remodal-wrapper {
  padding: 10px 10px 0;
}

.remodal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: .3s;
  -o-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  -o-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  -o-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.remodal .icon-close
  position absolute
  right -32px
  top 8px
  width 32px
  height 32px
  background url('../img/icon-close.png') 50% 50% no-repeat, linear-gradient(to right, #d9d9d9, #e9e9e9 20%), #eaeaea
  cursor pointer

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-o-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}

@-o-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-o-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

.notifyjs-bootstrap-success {
  background-color: #f6ac45 !important;
}

.notifyjs-bootstrap-base {
  padding: 14px 26px 14px 48px !important;
  background-position: 14px center !important;
  border-color: #fff !important;
  border-radius: 2px !important;
}

.toolbar-button-dropdown {
    & .phone {
        margin-top 0
        display block

        & a {
          display block
        }

        & .phone-icon {
            top 3px
          }
      }

    & .schedule {
      display block
    }

}

.me-schedule-trigger {

  & .toolbar-button-dropdown {
      max-width 269px
      left auto
      right 0
    }
}
.me-share-trigger {

  & .toolbar-button-dropdown {
      max-width 203px
      left auto
      right 0
    }
}


@media all and (max-width: 1024px) {
  .mobile-header {
    display block
  }
}
.app-header__contact-mobile{
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 505px;
  height:105px;
  width:100%;
}
